.filter{
    margin: 20px auto;
    margin-top: 0;
    width: 200px;
    background: #ffff;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    @media (min-width: 700px) {
        position: sticky;
        top: 20px;
    }
}
